.options-body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff8e0
}

#accordionExample{
   border-radius: 200px
}

.options-container{
  width: 650px;
  margin: 0 auto;
  margin-top: 80px
}

.btn{
  color: #b32221;
  animation: wiggle 10s infinite;
}

@keyframes wiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-8deg);}
	3.5% {-webkit-transform: rotate(8deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

#helikopter-logo{
  animation: wiggle 5s infinite;
  padding-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.bg-pic {
  position: fixed;
  bottom: -50px;
  right: 0;
  width: 35vw;
  animation: wiggle 10s infinite;
}

.delete-btn{
  background: none;
  color: #b32221;
  border: 1px;
  border-style: solid;
  border-color: #5da1b6;
  border-radius: 5px;
  margin: 0 auto

}

.list-group-item{
  color: #333333
}

